# Dependencies
node_modules

# Production and other folders
/build
/dist
src/images

### VisualStudioCode ###
.vscode/*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Numerous always-ignore extensions
*.diff
*.env
*.err
*.log
*.sass-cache
*.tmp

# Personal files
index.html
test.html
/src/js/index.js
/src/js/test.js
/src/scss/test.css
notes.md
parcel.md
sass.md
